#scrollbarHider {
  overflow: hidden;
  top: 45px;
  bottom: 0px;
  position: fixed;
  margin-left: -20px;
  width: 201px;
}

#navigationWrapper {
  overflow: auto;
  height: calc(100% - 10px) !important;
  padding-left: 20px;
  width: 164px !important;
  position: absolute;
  padding-top: 10px;
}

#leftColWrapper {
  position: fixed;
}

.scrollShade {
  position: fixed;
  z-index: 2;
  background-color: #e9eaed;
  box-sizing: border-box;
  height: 12px;
}

#mainScrollShade {
  border-bottom: 1px solid #e9eaed;
  width: 164px;
  margin-left: 20px;
}

#mainScrollShade.hovered,
#mainScrollShade.scrolled {
  border-bottom-color: rgba(0, 0, 0, .1);
}

#scrollShade {
  width: 20px;
}